@{
    Layout = null;
}
<ul class="list-unstyled components">
    
    @*<li><a href="/Home/HomeIndex">HomeIndex</a></li>
    <li><a href="/Case/CaseIndex">個案管理Case</a></li>
    <li><a href="/CaseOwner/CaseOwnerIndex">個案管理CaseOwner</a></li>*@
    @Html.Raw(ViewBag.Sidebar)
</ul>